[v-cloak] {display:none;}

#afv h1 {margin-bottom:20px;}
#afv h1 strong {background:#347AFE; padding:5px 15px 8px; color:white; border-left:solid 12px #555;}
#afv h1 small {display:inline-block; float:none; width:auto;}
#afv .crow {position: relative; padding:10px; border:solid 1px #ddd; margin-bottom:20px;}
#afv .crow.active {border:solid 2px #555;}
#afv .crow.sub {border:0; padding:0;}
#afv .coverAjax {position: absolute; z-index: 1; width:100%; height:100%; top:0; left:0;}
#afv .pleaseWait {padding:5px 12px; display:inline-block; background:#aaa; color:white; border-radius:3px;}
#afv .manualFileVerInputBox {margin-top:10px;}






